// src/assets/scss/custom/structure/_sidebar.scss

.main-sidebar {
    @include position(fixed, null, null, 0, 0);
    @include transition;
    z-index: 1005;
    top: var(--#{$prefix}topbar);
    width: var(--#{$prefix}sidebar);
    border-right: 1px solid var(--#{$prefix}sidebar-border);
    background-color: var(--#{$prefix}sidebar-bg);

    .navbar-brand {
        display: none;
        align-items: center;
        justify-content: center;
        height: var(--#{$prefix}topbar);
        width: var(--#{$prefix}sidebar);

        .logo-lg img {
            display: block;
            width: 3.25rem;
            height: 3.25rem;
            object-fit: contain;
        }

        .logo-sm img {
            display: block;
            width: 2.75rem;
            height: 2.75rem;
            object-fit: contain;
        }
    }

    @include media-breakpoint-down(lg) {
        top: 0;
    }
}

.profile-dropdown {
    .btn {
        color: var(--#{$prefix}sidebar-link-active-color) !important;

        &:active {
            border-color: transparent;
        }

        p {
            color: var(--#{$prefix}sidebar-link-color);
        }
    }

    .profile-dropdown-menu {
        .profile-link {
            display: block;
            @include transition;
            padding: 0.5rem;
            color: var(--#{$prefix}secondary-color);

            &:hover {
                color: var(--#{$prefix}primary);
            }
        }
    }

    display: none;

    [data-profile-sidebar] & {
        display: block;
    }
}

.navbar-menu {
    height: calc(100vh - 5rem);

    [data-profile-sidebar] & {
        height: calc(100vh - 10rem);
    }

    @include media-breakpoint-down(lg) {
        height: calc(100vh - 6rem);
    }

    .simplebar-wrapper {
        margin: 0;

        .simplebar-content {
            padding: 0 !important;
        }
    }

    .nav-menu-title {
        padding: 0.375rem 1rem;
        font-size: 0.775rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--#{$prefix}sidebar-menu-title);
    }

    .nav-item {
        margin: 2px 14px;

        .nav-link {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: var(--#{$prefix}sidebar-padding-y) var(--#{$prefix}sidebar-padding-x);
            font-size: var(--#{$prefix}sidebar-font-size);
            color: var(--#{$prefix}sidebar-link-color);
            @include transition;
            @include border-radius($dropdown-border-radius);

            .icons {
                svg {
                    height: 1rem;
                    width: 1rem;
                }
            }

            &[aria-expanded="true"] {
                .menu-arrow {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            &:hover {
                color: var(--#{$prefix}sidebar-link-hover-color);
                background-color: var(--#{$prefix}sidebar-link-bg-hover-color);
            }

            &.active {
                color: var(--#{$prefix}sidebar-link-active-color);
                background-color: var(--#{$prefix}sidebar-link-bg-active-color);
            }
        }

        .nav-menu-sub {
            padding: 0;
            list-style-type: none;
            margin-left: 1.5rem;

            .nav-link {
                padding: 0.375rem 1rem;
                font-size: 14.5px;
                color: var(--#{$prefix}sidebar-link-sub-color);
                position: relative;

                &[aria-expanded="true"] {
                    .menu-arrow {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0.75rem;
                    z-index: 10;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--#{$prefix}sidebar-link-sub-effect-color);
                    outline: 1px dashed var(--#{$prefix}sidebar-link-sub-color);
                    @include border-radius($border-radius-pill);
                    left: -0.25rem;
                }

                &:hover {
                    color: var(--#{$prefix}sidebar-link-sub-hover-color);
                    background-color: transparent;

                    &::before {
                        outline-color: var(--#{$prefix}sidebar-link-sub-hover-color);
                        animation: spin 1s linear infinite;
                    }
                }

                &.active {
                    color: var(--#{$prefix}sidebar-link-sub-active-color);
                    background-color: transparent;

                    &::before {
                        outline-color: var(--#{$prefix}sidebar-link-sub-active-color);
                    }
                }
            }
        }
    }
}

.sidebar-backdrop {
    position: fixed;
    inset: 0;
    background-color: $modal-backdrop-bg;
    opacity: $modal-backdrop-opacity;
    z-index: 1004;
    display: none;
}

.sidebar-hidden {
    @include media-breakpoint-between(md, xl) {
        .main-sidebar {
            left: calc(var(--#{$prefix}sidebar-sm) * -1.1);
        }

        .main-topbar {
            left: 0 !important;
        }

        .page-wrapper {
            margin-left: 0 !important;
        }
    }

    @include media-breakpoint-down(lg) {

        .main-sidebar {
            left: calc(var(--#{$prefix}sidebar) * -1.1);

            &.show {
                left: 0;
            }
        }

    }
}
