// src/assets/scss/custom/dashboard/_dashboard-email.scss

.campaign-card {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgba(var(--#{$prefix}success-rgb), .15), rgba(var(--#{$prefix}primary-rgb), .15), );
}

.email-performance-toolbar {
    background-color: var(--#{$prefix}tertiary-bg);
    a {
        border: none !important;

        &:is(.active, :hover) {
            background-color: var(--#{$prefix}secondary-bg) !important;
        }
    }
}