// src/assets/scss/custom/apps/_apps-hospital-doctor-schedule.scss

@each $state in map-keys($theme-colors) {
    .appointment-#{$state} {
        &::before {
            background-color: var(--#{$prefix}#{$state});
            content: '';
            position: absolute;
            top: 1.25rem;
            left: -0.125rem;
            border-radius: 9999px;
            height: 3rem;
            width: 0.125rem;
        }
    }
}
.select-form-control{
    &:focus {
        outline: none;
    }
    &::placeholder{
        color: var(--#{$prefix}tertiary-color);
    }
}