// src/assets/scss/custom/apps/_apps-ecommerce-payment.scss

.payment-success-modal {
    background-image: url("../images/others/payment-modal.png");
    background-position: center;
    background-size: cover;
}