// src/assets/scss/custom/components/_gallery.scss

.basic-gallery {
  img {
    transition: transform 5s ease-in-out;
  }

  &:hover>img {
    transform: scale(1.25);
  }
}

@media (min-width: 992px) {
  .item-4 {
    margin-top: -9rem;
  }

  .item-6 {
    margin-top: -7rem;
  }

  .item-7 {
    margin-top: -17rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .item-3 {
    margin-top: -9rem;
  }

  .item-5 {
    margin-top: -3rem;
  }

  .item-7 {
    margin-top: -3rem;
  }
}